.dl { 
	background-color: #fff;
	color: $color__su-blue;
	border-bottom: 1px solid $color__gray--light;
	padding-bottom: 2rem;
	position: relative;
	text-align: center;
	.container {
		padding: 0;
	}
	@include breakpoint(sm) {
		background-color: $color__su-blue;
		color: #fff;
		border: 0;
		padding-bottom: 0;
		text-align: left;
	}
	&--container {
		//background-color: pink;
		position: relative;
	}
	&--frame {
		position: relative;
		//background-color: pink;
		.nav--social {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			background-color: $color__su-blue;
			padding: .5rem;
			border-bottom-left-radius: 1rem;
			display: none;
			.menu--list {
				flex-direction: row;
			}
			@include breakpoint(md) {
				display: block;
			}
		}
		@include breakpoint(sm) {
			//padding-top: 3rem;
			//padding-bottom: 3rem;
		}
	}
	.dl--slide-container {
		//background-color: green;
		width: 100%;
		height: 100%;
		@include breakpoint(sm) {
			width: 100%;
		}
	}
	&--slides {
		width: 100%;
		height: 0;
		padding-bottom: 66.6667%;
		&--item {
			display: none;
			background-repeat: no-repeat;
			background-size: cover;
			width: 100%;
			height: 0;
			padding-bottom: 66.6667%;
			&[data-slug="kelsey"] {
				background-image: url('./img/dl-kelsey-1200x800.jpg');
			}
			&[data-slug="hanz"] {
				background-image: url('./img/dl-hans-3-1200x800.jpg');
			}
			&[data-slug="jewel"] {
				background-image: url('./img/dl-jewel-3-1200x800.jpg');
			}
			&[data-slug="mackenzie"] {
				background-image: url('./img/dl-mackenzie-3-1200x800.jpg');
			}
			&.active {
				display: block;
			}
			
		}
	}
	&--side-column {
		@include breakpoint(sm) {
			width: 320px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 2rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
	}
	&--side-content {
		background-color: #fff;
		width: 100%;
		padding: 0rem 1.5rem;
		box-sizing: border-box;
		color: $color__su-blue;
		h2 {
			font-size: 1.5rem;
			margin-bottom: 1rem;
			@include breakpoint(sm) {
				font-size: 1.6rem;
			}
			@include breakpoint(md) {
				font-size: 1.7rem;
			}
		}
		p {
			font-style: italic;
			font-size: 1.1rem;
		}
		.btn {
			margin-bottom: 0;
		}
		@include breakpoint(sm) {
			padding: 2rem;
			border-bottom: 5px solid $color__su-orange--dark;
			box-shadow: 0 0 10px rgba(0,0,0,.35);
		}
	}
	&--slide--caption {
		display: none;
		font-style: italic;
		margin-top: .8rem;
		font-size: .8rem;
		color: $color__su-blue;
		padding: 0 1.5rem;
		&.active {
			display: block;
		}	
		@include breakpoint(sm) {
			text-align: right;
			padding: 1rem;
			position: absolute;
			bottom: 2rem;
			right: 2rem;
			z-index: 100;
			background-color: #fff;
			border-left: 3px solid $color__su-orange;
			a {
				color: $color__su-blue;
			}
		}
	}
}
