.site-footer {
	background-color: $color__su-blue;
	color: #fff;
	padding: 1rem 0;
	@include breakpoint(sm) {
		padding: 2rem 0;
	}
	@include breakpoint(md) {
		padding: 3rem 0;
	}
	.footer-brand-row {
		border-bottom: 1px solid #fff;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		h2 {
			margin-bottom: 1rem;
			@include breakpoint(sm) {
				margin: 0;
			}
		}
	}
	.footer-utility-col {
		p {
			color: #fff;
			margin-bottom: 2rem;
			font-size: .9rem;
		}
	}
	.menu--social {
		justify-content: center;
		@include breakpoint(md) {
			justify-content: flex-end;
		}	
	}
}
