.get-started {
	background-color: $color__su-blue;
	background-image: url('./img/newhouse-school--blue-tone.jpg');
	background-size: cover;
	background-position: center center;
	color: #fff;
	&--top {
		background: rgb(0,14,84);
		background: linear-gradient(180deg, rgba(0,14,84,0) 60%, rgba(0,14,84,1) 100%);	
		padding-top: 2rem;
		padding-bottom: 2rem;
		text-align: center;
		@include breakpoint(sm) {
			padding-top: 3rem;
		}
		@include breakpoint(sm) {
			padding-top: 4rem;
		}
		h2 {
			margin-bottom: 1rem;
		}
	}
	&--bottom {
		background-color: $color__su-blue;
		padding: 1rem 0;
		color: #fff;
		h2 {
			text-align: center;
			position: relative;
			margin-bottom: 1rem;
			span {
				background-color: $color__su-blue;
				position: relative;
				top: 0;
				left: 0;
				z-index: 2;
				padding-left: 1rem;
				padding-right: 1rem;
			}
			&:before {
				width: 100%;
				height: 1px;
				background-color: rgba(255,255,255,.6);
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 1;
				content: "";
			}
		}
		@include breakpoint(sm) {
			padding: 1.5rem 0;
		}
		@include breakpoint(md) {
			padding: 2rem 0;
		}
 	}
}
