.header--primary {
	background-color: #fff;
	border-bottom: 1px solid $color__gray--light;
	display: flex;
	flex-wrap: wrap;
	@include breakpoint(md) {
		justify-content: space-between;
	}
}
.header--top {
	display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	z-index: 5;
	background-color: #fff;
}
.header--right {
	display: flex;
	@include breakpoint(md) {
		// make room for search btn position absolute
		padding-right: 4rem;
	}	
}
.header--utility {
	display: none;
	height: 3rem;
	line-height: 3rem;
	background-color: $color__gray--5;
	border-bottom: 1px solid $color__gray--light;
	@include breakpoint(md) {
		display: flex;
		justify-content: space-between;
	}
}
.header--bottom {
	width: 100%;
	background-color: $color__gray--10;
	flex-grow: 1;
	padding: 1rem;
	display: flex;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	@include breakpoint(md) {
		display: none;
	}
}
.header--search {
	background-color: $color__su-orange;
	position: absolute;
	top: 0;
	left: calc(100% - 4rem);
	height: 6rem;
	transition: all .5s;
	display: flex;
	width: 4rem;
	overflow: hidden; // prevents screen yank when desktop searchbar is expanded
	.btn {
		width: 4rem;
	}
	.form {
		display: none;
	}
	&.expanded {
		// I need to make the logo a fixed width
		left: 400px;
		width: calc(100% - 400px);
		.form {
			display: block;
			width: 100%;
			margin: 0 1rem;
			display: flex;
			align-items: center;
		}
	}
}
