.nav {
	&--primary {
		height: 6rem;
		line-height: 6rem;
		background-color: #fff;
		display: none;
		@include breakpoint(md) {
			display: block;
		}
	}
	&--header-utility-left {
		display: none;
		@include breakpoint(sm) {
			display: block;
		}
	}
	&--header-utility-right {
		display: none;
		@include breakpoint(sm) {
			display: block;
		}
	}
	&--sidebar {
		position: sticky;
		top: 0;
		left: 0;
		.parentLink {
			a {
				color: $color__gray;
				text-decoration: none;
				position: relative;
				transition: all .5s;
				.svg-inline--fa {
					position: absolute;
					top: .25rem;
					left: -1rem;
				}
				&:hover {
					color: #000;
				}
			}
			margin-bottom: 2.5rem;
		}
	}
	&--footer {
		display: none;
		@include breakpoint(md) {
			display: block;
		}
	}
	&--footer-utility {
		display: none;
		@include breakpoint(md) {
			display: block;
		}
	}
	&--mobile-pane {
		background-color: $color__su_blue;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		width: 100%;
		height: 100vh;
		display: flex;
		z-index: 1000;
		&--left {
			width: calc(100% - 4rem);
			padding: 1.5rem;
			box-sizing: border-box;
			.logo {
				margin-bottom: 2rem;
			}
			.nav--mobile {
				ul.menu {
					li.menu--item {
						a {
							font-weight: bold;
							font-size: 1.5rem;
							padding-top: .5rem;
							padding-bottom: .5rem;
						}
					}
				}
			}
		}
		&--right {
			width: 4rem;
			//background-color: limegreen;
			display: flex;
			flex-direction: column;
			border-left: 1px solid #fff;
			#menuCloseBtn {
				margin-bottom: .75rem;
			}
		}
	}
}
