.section {
	padding: 1rem 0;
	@include breakpoint(sm) {
		padding: 1.5rem 0;
	}
	@include breakpoint(md) {
		padding: 2rem 0;
	}
	@include breakpoint(lg) {
		padding: 2.5rem 0;
	}
	color: $color__su-blue;
	background-color: $color__gray--10;
	&--bachelors {
		background-color: $color__bachelors--10;
	}
	&--masters {
		background-color: $color__masters--10;
	}
	&--online {
		background-color: $color__online--10;
	}
	&--doctoral {
		background-color: $color__doctoral--10;
	}
	&--certificates {
		background-color: $color__certificates--10;
	}
	&--minors {
		background-color: $color__minors--10;
	}
	&--header {
		margin-bottom: 1rem;
		text-align: left;
		color: $color__su-blue;
		&.center {
			text-align: center;
		}
		&--icon {
			//background-color: aqua;
			height: 2.5rem;
			margin-bottom: .5rem;
			display: flex;
			justify-content: center;
			position: relative;
			&--circle {
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 50%;
				background-color: $color__su-orange--dark;
				border: 2px solid #fff;
				position: relative;
				z-index: 2;
				box-shadow: 0px 0px .5rem rgba(0,0,0,.35);
				svg {
					height: 2rem;
					margin-top: .25rem;
					path {
						fill: #fff;
					}
				}
			}
			&:after {
				content: '';
				display: block;
				width: 50%;
				height: 2px;
				position: absolute;
				top: 50%;
				left: 25%;
				z-index: 1;
				opacity: 0.5;
				background: rgb(0,14,84);
				background: linear-gradient(270deg, rgba(0,14,84,0) 0%, rgba(0,14,84,1) 50%, rgba(0,14,84,0) 100%);
			}
		}
	}
	&--title {
		margin-bottom: .5rem;
	}
	&--description {
		margin-bottom: 2rem;
	}
	&--news {
		background-color: $color__gray--10;
		text-align: center;
	}
	&--cta {
		background-color: $color__su-blue;
		color: #fff;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		@include breakpoint(sm) {
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}
		@include breakpoint(md) {
			padding-top: 3.5rem;
			padding-bottom: 3.5rem;
		}
		@include breakpoint(lg) {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
	}
	&--align-wide{		
		@include breakpoint(md) {
			width: 150%;
			margin-left: -25%;
		}
	}
}

/* Tim's css for now */
/* Close Copy of .getStarted */
.section-blue{
	background-color: $color__su-blue;
	padding: 1rem 0;
	color: $color__white;
	
	.line-behind{
		text-align: center;
		position: relative;
		margin-bottom: 1rem;
		span {
			background-color: $color__su-blue;
			position: relative;
			top: 0;
			left: 0;
			z-index: 2;
			padding-left: 1rem;
			padding-right: 1rem;
		}
		&:before {
			width: 100%;
			height: 1px;
			background-color: rgba(255,255,255,.6);
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 1;
			content: "";
		}
	}
	@include breakpoint(sm) {
		padding: 1.5rem 0;
	}
	@include breakpoint(md) {
		padding: 2rem 0;
	}
	/* Fixes */
	option{
		font-size: .95rem;
	}
}
