.section--research--clusters {
	background-color: #fff;
	color: $color__su-blue;
	h2 {
		text-align: center;
		margin-bottom: 1rem;
		@include breakpoint(sm) {
			margin-bottom: 1.5rem;
		}
		@include breakpoint(md) {
			margin-bottom: 2rem;
		}
	}
	.cluster {
		//background-color: orange;
		padding: 1.5rem 0;
		border-bottom: 1px solid $color__gray;
		@include breakpoint(sm) {
			padding: 1.75rem 0;
		}
		@include breakpoint(md) {
			padding: 2rem 0;
		}
		h3 {
			margin-bottom: .5rem;
		}
		&--left {
			width: 100%;
			@include breakpoint(sm) {
				width: 35%;
				margin-right: 5%;
			}
		}
		&--right {
			width: 100%;
			@include breakpoint(sm) {
				width: 60%;
			}
		}
	}
}
