.section--research--creative-profiles {
	background-color: $color__su-orange--10;
	.section--label {
		color: $color__su-blue;
		margin-bottom: 1rem;
	}
	.card {
		border-bottom: 5px solid $color__su-orange;
	}
}
