.section--research--named-chairs {
	background-color: #fff;
	.section--label	 {
		color: $color__su-blue;
		margin-bottom: 1rem;
	}
	.card {
		border-bottom: 5px solid $color__su-blue;
		margin-top: 0;
	}
}
