.section--research--spaces {
	background-color: $color__su-blue;
	h2 {
		text-align: center;
		margin-bottom: 2rem;
		color: #fff;
	}
	.spaces--controls {
		//background-color: pink;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include breakpoint(sm) {
			justify-content: flex-end;
		}
		p {
			color: #fff;
			margin-right: 1rem;
			font-size: .8rem;
		}
	}
	.spaces {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.space {
		//background-color: aqua;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	
		@include breakpoint(sm) {
			flex-direction: row;
		}
		&--left {
			width: 100%;
			//background-color: red;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			transition: all .5s;
			@include breakpoint(sm) {
				width: 35%;
				height: auto;
			}
			ul {
				width: 100%;
				height: 240px;
				overflow: hidden;
				position: relative;
				@include breakpoint(sm) {
					height: 480px;
				}
				li.space--image {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					//background-color: limegreen;
					background-repeat: no-repeat;
					background-size: cover;
					visibility: hidden;
					opacity: 0;
					left: -100px;
					transition: all .5s;
					&.mind-lab {
						background-image: url('./img/lab-mind.jpg');
						background-position: 55% 50%;
					}
					&.emerging-insights-lab {
						background-image: url('./img/lab-emerging-insights.jpg');
						background-position: 32% 39%;
					}
					&.experimental-media-lab {
						background-image: url('./img/lab-experimental-media.jpg');
						background-position: center center;
					}
					h3 {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						color: #fff;
						padding: 1.5rem;
						z-index: 2;
						display: none;
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						background: rgb(0,0,0);
						background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%);
						width: 100%;
						height: 100%;
						opacity: 0;
					} 
					&.active {
						visibility: visible;
						left: 0;
						opacity: 1;
					}
					&.leftDeck {
						visibility: hidden;
						left: -100%;
						opacity: 0;
					}
					&.rightDeck {
						visibility: hidden;
						left: 100%;
						opacity: 0;
					}
				}
			}
		}
		&--right {
			width: 100%;
			background-color: #fff;
			color: $color__su-blue;
			padding: 1.5rem;
			box-sizing: border-box;
			border-bottom: 5px solid $color__su-orange;
			transition: all .5s;
			ul {
				position: relative;
				li {
					display: none;
					h3 {
						margin-bottom: 1rem;
					}
					p {
						margin-bottom: 1rem;
					}
					&.active {
						display: block;
					}
				}
			}
			@include breakpoint(sm) {
				padding: 3rem 1.5rem;
				width: 65%;
			}
			@include breakpoint(sm) {
				padding: 5rem 1.5rem;
			}
		}
	}
}
