.section--research--spaces {
	background-color: $color__su-blue;
	color: #fff;
	text-align: center;
	.research--spaces--panels--relative {
		position: relative;
		#spacesCloseBtn {
			position: absolute;
			top: 1rem;
			right: 1rem;
			z-index: 10;
		}
		#spacesPrevBtn {
			position: absolute;
			top: 50%;
			left: -1rem;
			z-index: 10;
		}
		#spacesNextBtn {
			position: absolute;
			top: 50%;
			right: -1rem;
			z-index: 10;
		}
	}
	.research--spaces {
		&--panels {
			margin-top: 1.5rem;
			//background-color: pink;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			overflow: hidden;
			height: 0;
			padding-bottom: 50%;
		}
		&--panel {
			//background-color: limegreen;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 33.333%;
			transition: all .5s;
			width: 100%;
			height: 0;
			padding-bottom: 50%;
			overflow: hidden;
			position: relative;
			cursor: pointer;
			&:after {
				display: block;
				content: '';
				position: absolute;
				bottom: 0px;
				left: 0px;
				z-index: 2;
				width: 0;
				height: 5px;
				background-color: $color__su-orange;
				transition: all .5s;
			}
			.panel--text {
				position: absolute;
				left: 0;
				bottom: 2rem;
				width: 100%;
				padding: 1rem;
				z-index: 3;
				box-sizing: border-box;
				transition: all .5s linear .15s;
				h3 {
					transition: all .5s;
				}
			}
			.panel--bg {
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				opacity: .4;
				border-right: 1px solid $color__su-blue;
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				transition: all .5s;
				&[data-space="emerging-insights-lab"] {
					background-image: url('./img/lab-emerging-insights.jpg');
				}
				&[data-space="mind-lab"] {
					background-image: url('./img/lab-mind.jpg');
				}
				&[data-space="experimental-media-lab"] {
					background-image: url('./img/lab-experimental-media.jpg');
				}
			}
			&:hover, &:focus {
				flex-grow: 5;
				.panel--bg {
					opacity: .6;
				}
				&:after {
					width: 100%;
				}
				//background-color: aqua;
			}
			&.engaged {
				flex-grow: 5;
				@include breakpoint(md) {
					flex-grow: 2;
				}
				//background-color: aqua;
			}
			&.locked {
				flex-grow: 20;
				flex-basis: 100%;
				&:after {
					width: 100%;
				}
				.panel--text {
					h3 {
						font-size: 2rem;
						@include breakpoint(sm) {
							font-size: 2.5rem;
						}
						@include breakpoint(md) {
							font-size: 3rem;
						}
					
					}
				}
				.panel--bg {
					border-right: 0;
				}
			}
			&.collapsed {
				flex-grow: 0;
				flex-basis: 0%;
				.panel--text {
					opacity: 0;
					bottom: -100%;
				}
			}
			
			
		}
	}
	.research--spaces--content {
		background-color: #fff;
		color: $color__su-blue;
		padding: 1.5rem;
		box-sizing: border-box;
		display: none;
		text-align: left;
		&.active {
			display: block;
		}
		@include breakpoint(sm) {
			padding: 2rem;
		}
		@include breakpoint(md) {
			padding: 2.5rem;
		}
		@include breakpoint(lg) {
			padding: 3rem;
		}
	}
}
