// orange
$color__su_orange:#F76900;
$color__su_orange--10: #fef0e5;
$color__su_orange--light: #FF8E00;
$color__su_orange--medium: #FF431B;
$color__su_orange--dark: #D74100;
$color__su-orange--darkest: #a43200;

// blue
$color__su_blue: #000E54;
$color__su_blue--dark: #000E54; // same thing
$color__su_blue--medium: #203299;
$color__su_blue--light: #2B72D7;
$color__su_blue--10: #e5e6ee;

// gray
$color__gray: #707780;
$color__gray--medium: #707780; // same thing
$color__gray--dark: #404040;
$color__gray--light: #ADB3B8;
$color__gray--10: #EEEEEE;
$color__gray--5: #f9f9fa;

$color__black: #000000;
$color__white: #ffffff;

// toner
$color__toner_teal: #59ADB0;

// degrees
$color__bachelors: $color__su_orange--dark;
$color__bachelors--10: $color__su_orange--10;

$color__masters: #518BBE;
$color__masters--10: #edf3f8;

$color__online: #00A74D;
$color__online--10: #E2F6EF;

$color__doctoral: #7F51BE;
$color__doctoral--10: #f2edf8;

$color__certificates: #008080;
$color__certificates--10: #e5f2f2;

$color__minors: $color__gray;
$color__minors--10: $color__gray--10;
