// -----------------------------------------------------------------------------
// This file sets default values for application-wide Sass variables.
// These constants should not need to be updated but are set as defaults so themes can override them
// ! Only variables with constants should be used here. No variable assignments
// -----------------------------------------------------------------------------
////
/// Defaults
/// @group Defaults
/// @author Tim Starmer
////


// -----------------------------------------------------------------------------
// Color Variables
// -----------------------------------------------------------------------------
// ! Important: default colors used for accessibility do not change unless contrast ratio of both are verified

/// @type Color
$color__primary: $color__su_orange !default;

// Accessibility related font-colors
/// Screen Reader Text
/// @type Color
$color__text-screen: #21759b !default;

/// Screen Reader Background
/// @type Color
$color__background-screen: #f1f1f1 !default;

// Overlay Colors

/// Overlay
/// @type Color
$color__overlay: rgba(45, 45, 45, 0.5) !default;

/// Overlay Dark
/// @type Color
$color__overlay-dark: rgba(0, 0, 0, 0.85) !default;

// -----------------------------------------------------------------------------
// Fonts Variables
// -----------------------------------------------------------------------------
/// Primary headings Font
/// Used with h1 and h2
/// @group Typography Defaults
/// @type Font
$font__headings-primary: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif !default;

/// Secondary headings Font
/// Used with h3,h4, h5, and h6
/// @group Typography Defaults
/// @type Font
$font__headings-secondary: "ShermanSerif", Georgia, serif !default;

/// Font used across the site
/// Set on body element to be used everywhere except headings
/// @group Typography Defaults
/// @type Font
$font__main: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif !default;

/// Icon Font
/// The DashIcon fonts need to be enqueued in order to work
/// @group Typography Defaults
/// @type Font
/// @example php
/// wp_enqueue_style( 'dashicons' );
$font__icons: dashicons !default;

// -----------------------------------------------------------------------------
// Typography Variables
// -----------------------------------------------------------------------------

// Note: media queries need to be in ems
/// Maximum written length in ems
/// @group Typography Defaults
$written_max_width: 43em !default;

/// Maximum written length in ch
/// @group Typography Defaults
$written_max_ch: 80ch !default;

// -----------------------------------------------------------------------------
// Animation Variables
// -----------------------------------------------------------------------------
$transition__quick: all .5s;
$transition__normal: all 2.5s;

// --------------------------------------------------------------
// Site wide Layout Variables
// -----------------------------------------------------------------------------
$v-rhythm: 1rem;
$h-rhythm: 1.5ch;
$site_gutter: #{$h-rhythm * 2};
$utility_footer_height: 7rem;
// --------------
// Scrollbar width hack for elements that are 100vw
//

$scrollbar-width: 20px;
$window-width: calc(100vw - #{$scrollbar-width});
$content-margin: calc(50% - calc(#{$window-width} / 2));
$content-half-margin: calc(#{$content-margin}/2);

$fixed-header-height: 5rem;
