// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
	font-family: "ShermanSerif";
	src: url("https://assets.syracuse.edu/fonts/shermanserif-book.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermanserif-book.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermanserif-book.eot")
		format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
  }
  @font-face {
	font-family: "ShermanSerif";
	src: url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.eot")
		format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
  }
  /* Sherman Serif Book Italic */
  @font-face {
	font-family: "ShermanSerif";
	src: url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic.eot")
		format("embedded-opentype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
  }
  @font-face {
	font-family: "ShermanSerif";
	src: url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic-intl.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic-intl.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic-intl.eot")
		format("embedded-opentype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
  }
  /* Sherman Sans Book */
  
  @font-face {
	font-family: "ShermanSans";
	src: url("https://assets.syracuse.edu/fonts/shermansans-book.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermansans-book.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermansans-book.eot")
		format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
  }
  @font-face {
	font-family: "ShermanSans";
	src: url("https://assets.syracuse.edu/fonts/shermansans-book-intl.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermansans-book-intl.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermansans-book-intl.eot")
		format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
  }
  /* Sherman Sans Book Italic */
  
  @font-face {
	font-family: "ShermanSans";
	src: url("https://assets.syracuse.edu/fonts/shermansans-bookitalic.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bookitalic.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bookitalic.eot")
		format("embedded-opentype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
  }
  @font-face {
	font-family: "ShermanSans";
	src: url("https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.eot")
		format("embedded-opentype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
  }
  /* Sherman Sans Bold */
  
  @font-face {
	font-family: "ShermanSans";
	src: url("https://assets.syracuse.edu/fonts/shermansans-bold.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bold.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bold.eot")
		format("embedded-opentype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
  }
  @font-face {
	font-family: "ShermanSans";
	src: url("https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bold-intl.eot")
		format("embedded-opentype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
  }
  /* Sherman Sans Bold Italic */
  
  @font-face {
	font-family: "ShermanSans";
	src: url("https://assets.syracuse.edu/fonts/shermansans-bolditalic.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bolditalic.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bolditalic.eot")
		format("embedded-opentype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
  }
  @font-face {
	font-family: "ShermanSans";
	src: url("https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.woff2")
		format("woff2"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.woff")
		format("woff"),
	  url("https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.eot")
		format("embedded-opentype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
	unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
  }
  