// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------
////
/// @type function
/// @author Tim Starmer
////

/// Parse Integer
/// @param {Number} $n number to remove unit from
/// @return {Number} Unitless Number
@function parseInt($n) {
    @return $n / ($n * 0 + 1); 
}

// @function rem-to-px($target, $base-rem) {
//     $val: parseInt($target);
//     @return ($val * $base-rem) + px;
// }

/// Converts pixels to ems
/// @param {String} $pixels to convert to ems
/// @return {String}an em based unit
@function px-to-em($pixels) {
	@return (strip-unit($pixels) /16) + 'em';		
}

/// Remove the unit of length
/// @param {String | Number} $value to remove unit from
/// @return {Number} Unitless Number
@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}
	
	@return $number;
}


/// Check whether a value is a number
/// @param {String | Number} $value to check
/// @return {Bool} whether the values is number.
@function is-number($value){
	@return type-of($value) == 'number';
}

/// Check whether a value is a string
/// @param {String} $value to check
/// @return {Bool} whether the values is string.
@function is-string($value){
	@return type-of($value) == 'string';
}

/// Check whether a value is a relative length
/// @param {String} $value to check
/// @return {Bool} whether the values is a relative length.
@function is-relative-length($value) {
	@return is-number($value) and index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', unit($value)) != null;
}

/// Check whether a value is a absolute length
/// @param {String} $value to check
/// @return {Bool} whether the values is a relative length.
@function is-absolute-length($value) {
	@return is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}

/// Check whether a value is a unit with length
/// @param {String} $value to check
/// @return {Bool} whether the values is a relative length or absolute length.
@function is-length($value) {
	@return is-relative-length($value) or is-absolute-length($value);
}

// !not in use - delete
// @function color($base-color, $variant: base) {
// 	@return map-get($base-color, $variant);
// }


// (This is a suggested algorithm that is still open to change.)

// Two colors provide good color visibility if the brightness difference and the color difference between the two colors are greater than a set range.

// Color brightness is determined by the following formula:
// ((Red value X 299) + (Green value X 587) + (Blue value X 114)) / 1000
// Note: This algorithm is taken from a formula for converting RGB values to YIQ values. This brightness value gives a perceived brightness for a color.

// Color difference is determined by the following formula:
// (maximum (Red value 1, Red value 2) - minimum (Red value 1, Red value 2)) + (maximum (Green value 1, Green value 2) - minimum (Green value 1, Green value 2)) + (maximum (Blue value 1, Blue value 2) - minimum (Blue value 1, Blue value 2))

// The range for color brightness difference is 125. The range for color difference is 500.

//Todo Functions in progress
@function text-color($base-color, $text-color) {

	@return $text-color;

}

@function brightnessCheck($text-color){
	$bright-value : ( (red($text-color) * 299) + (green($text-color) * 587) + (blue($text-color) * 114) ) / 1000;
	
	@if ($bright-value >= 125){
		@return $text-color;
	} @else {
		@error 'Color does does not meet accessibility brightness standard';
	}	
}

@function differenceCheck($text-color, $bg-color){
	$difference : ( ( max(red($text-color),red($bg-color)) - min((red($text-color),red($bg-color) )) ) + ( max(green($text-color),green($bg-color)) - min((green($text-color), green($bg-color) ))) + ( max(blue($text-color),blue($bg-color)) - min((blue($text-color), blue($bg-color) )) ) ) ;
	
	@if ($difference >= 500){
		@return $text-color;
	} @else {
		@error 'Color does does not meet accessibility difference standard';
	}	
}

