// Basic definitions for our media-query breakpoints
// They are converted to ems
// Ref: https://cloudfour.com/thinks/the-ems-have-it-proportional-media-queries-ftw/

// abbrv [xs]
// $phone__width: 20em;
// Extra small devices (portrait phones, less than 576px)
$phone__width: px-to-em(575.98px);
// abbrv [sm] 
// $tablet__width: 38em;
// Small devices (landscape phones, 576px and up)
$tablet__width: px-to-em(767.98px);
// abbrv [md] 
// $laptop__width: 64em;
// Medium devices (tablets, 768px and up)
$laptop__width: px-to-em(991.98px);
// abbrv [lg] 
// $desktop__width: 80em;
// Large devices (desktops, 992px and up)
$desktop__width: px-to-em(1199.98px);
$tvscreen__width: px-to-em(1200px);

$rem__phone:12;
$rem__tablet:14;
$rem__laptop:16;
