@mixin breakpoint($value) {
	// need to validate $value

	// if a string use standard breakpoints
	@if type-of($value) == 'string' {
		@if ($value == "xs" or $value == "phone") {
			@media (max-width: $phone__width) {
				@content;
			}
		}
		@else if ($value == "sm" or $value == "tablet") {
			@media (min-width: $tablet__width) {
				@content;
			}
		}

		@else if ($value == "md" or $value == "laptop") {
			@media(min-width: $laptop__width) {
				@content;
			}
		}
		@else if($value == "lg" or $value == "desktop") {
			@media (min-width: $desktop__width) {
				@content;
			}
		}
		@else if($value == "xl" or $value == "tvscreen") {
			@media (min-width: $tvscreen__width) {
				@content;
			}
		}

		@else {
			@warn "Breakpoint mixin supports: xs or phone, sm or tablet, md or laptop, lg or desktop, xl or tvscreen as string variables";
		}

	} 
	// if value then use value as minimum width.
	@else if is-length($value){
		@media(min-width: #{$value}){
			@content;
		}
	}

	@else {
		@warn "Breakpoint mixin supports: string variables or relative units";
	}
	// if a length value than use that

	// error warn if string does not match or it is not a length
	
}

@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

