.aside {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-left: .4rem solid $color__gray--light;
	padding-left: 1.4rem;
	margin-bottom: 1rem;
	p {
		font-style: italic;
		font-family: $font__headings-secondary;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
