.course {
	//background-color: pink;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 1px solid $color__su-blue;
	color: $color__su-blue;
	font-family: $font__headings-primary;
	@include breakpoint(sm) {
		flex-direction: row;
	}
	&--left {
		width: 100%;
		margin-bottom: .5rem;
		@include breakpoint(sm) {
			width: 20%;
			margin-right: 5%;
			margin-bottom: 0;
		}
	}
	&--right {
		width: 100%;
	}
	&--prefix {
		//background-color: aqua;
		margin-right: .5rem;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1rem;
	}
	&--number {
		//background-color: orange;
		font-weight: bold;
		font-size: 1rem;
	}
	&--title {
		//background-color: limegreen;
		display: block;
		margin: 0;
		margin-bottom: .5rem;
		font-size: 1rem;
		@include breakpoint(sm) {
			font-size: 1.1rem;
		}
		@include breakpoint(md) {
			font-size: 1.2rem;
		}
		@include breakpoint(lg) {
			font-size: 1.3rem;
		}
	}
	&--description {
		//background-color: violet;
		display: block;
		margin-bottom: 0;
	}
}
