.cta {
	background-color: yellow;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 2rem;
	margin-bottom: 2rem;
	@include breakpoint(sm) {
		flex-direction: row;
	}
	&--image {
		width: 100%;
		background-color: orange;
		box-sizing: border-box;
		padding: 1rem;
		@include breakpoint(sm) {
			padding: 1.5rem;
			width: 50%;
		}
		@include breakpoint(sm) {
			padding: 2rem;
		}
	}
	&--text {
		width: 100%;
		background-color: pink;
		box-sizing: border-box;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include breakpoint(sm) {
			padding: 1.5rem;
			width: 50%;
		}
		@include breakpoint(sm) {
			padding: 2rem;
		}
	}
	&--title {
		margin-bottom: 1rem;
	}
	&--description {
		margin-bottom: 0;
	}
}
