.wp-block-embed-youtube {
    margin-bottom: 1rem;
	.wp-block-embed__wrapper {
		position: relative;
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
