.faq {
	padding-top: 1rem;
	border-top: 1px solid $color__su-blue;
	color: $color__su-blue;
	position: relative;
	&--question {
		margin: 0;
		margin-bottom: 1.2rem;
		font-family: $font__headings-primary;
		padding-right: 2.5rem;
	}
	&--answer {
		font-family: $font__headings-primary;
		margin: 0;
		//background-color: $color__gray--5; 
		padding: 0 2.5rem 1rem 1rem;
		display: none;
		position: relative;
		top: -100;
		left: 0;
		opacity: 0;
		transition: all .5s;
		margin-bottom: 1rem;
		p {
			margin: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&--trigger {
		position: absolute;
		top: 1rem;
		right: 0;
		border: 0;
		background-color: #fff;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: .25rem;
		transition: all .3s;
	}
	&.active {
		.faq--answer {
			display: block;
			top: 0;
			opacity: 1;
		}
		.faq--trigger {
			transform: rotate(45deg);
		}
	}
}
