.feature {
	background-color: #fff;
	border: 1px solid $color__gray--light;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	margin: .5rem;
	@include breakpoint(sm) {
		width: calc(50% - 1rem)
	}
	@include breakpoint(md) {
		
		width: calc(33.33% - 1rem)
	}
}
.feature-deck {
	background-color: $color__su-orange--10;
	box-sizing: border-box;
	padding-top: 1rem;
	padding-bottom: 1rem;
	&--row {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex-wrap: wrap;
		@include breakpoint(sm) {
			flex-direction: row;
		}
		// gutenberg
		.block-editor-inner-blocks {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-wrap: wrap;
			@include breakpoint(sm) {
				flex-direction: row;
			}
			.block-editor-block-list__layout {
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex-wrap: wrap;
				@include breakpoint(sm) {
					flex-direction: row;
				}
				.block-editor-block-list__block {
					width: 100%;
					@include breakpoint(sm) {
						width: calc(50% - 1rem)
					}
					@include breakpoint(md) {
						
						width: calc(33.33% - 1rem)
					}
					.feature {
						width: 100%;
						@include breakpoint(sm) {
							width: 100%;
						}
						@include breakpoint(md) {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

