.gutenberg--content {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 2rem;
	
	@import 
	'./headings', 
	'./paragraph', 
	'./buttons', 
	'./embed', 
	'./wpBlockGallery', 
	'./wpBlockTable', 
	'./wpBlockImage', 
	'./wpBlockGroup',  
	'./lists', 
	'./aside', 
	'./course', 
	'./faq', 
	'./figure';
}

