& > ul, & > ol {
	margin: 0;
	margin-left: 2rem;
	margin-bottom: 1rem;
	li {
		font-size: 1rem;
		line-height: 1.7;
		font-family: $font__headings-primary;
		margin-bottom: 1rem;
		color: $color__su-blue;
		@include breakpoint(sm) {
			font-size: 1.1rem;
		}
		@include breakpoint(md) {
			font-size: 1.2rem;
		}
		@include breakpoint(lg) {
			font-size: 1.3rem;
		}
	}
}
& > ul {
	li {
		list-style: disc;
	}
}
& > ol {
	li {
		list-style: decimal;
	}
}
