p {
	font-size: 1rem;
	line-height: 1.7;
	font-family: $font__headings-primary;
	margin-bottom: 1rem;
	color: $color__su-blue;
	@include breakpoint(sm) {
		font-size: 1.1rem;
	}
	@include breakpoint(md) {
		font-size: 1.2rem;
	}
	@include breakpoint(lg) {
		font-size: 1.3rem;
	}
	a {
		color: $color__su_orange--dark;
		&:hover {
			color: $color__su_orange--darkest;
		}
		&:focus {
			color: #fff;
			background-color: $color__su_orange--dark;
		}
	}
	&.footnote {
		font-size: .75rem;
		color: $color__gray;
	}
}
