.wp-block-image {
	width: 100%;
	margin: 0;
	margin-bottom: 1rem;
	.alignleft {
		float: none;
		@include breakpoint(sm) {
			float: left;
		}
	}
	.alignright {
		float: none;
		@include breakpoint(sm) {
			float: right;
		}
	}
}
