.wp-block-table {
	text-align: left;
	font-family: $font__headings-primary;
	margin: 0 0 1rem 0;
	padding: 0;
	table {
		border-spacing: 0;
		border-collapse: collapse;
		td {
		border-bottom: 1px solid $color__gray--light;
		padding: 1rem;
		vertical-align: top;
		}
		th {
			border-bottom: 2px solid $color__black;
			padding: 1rem;
			font-weight: bold;
		}
	}
}
