.breadcrumbs {
	background-color: $color__gray--5;
	border-bottom: 1px solid $color__gray--light;
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	&--list--scroll-container {
		overflow-x: scroll;
		width: 100%;
	}
	#menuBtn {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		height: 4rem;
	}
	&--list {
		//background-color: yellow;
		display: inline-block;
		width: auto;
		list-style: none;
		white-space: nowrap;
		height: 4rem;
		padding-left: .5rem;
		&--item {
			display: inline-flex;
			align-items: center;
			line-height: 4rem;
			a {
				color: $color__su-blue;
				font-family: $font__headings-primary;
				padding: 0rem .5rem;
				display: block;
				&:hover, &:focus {
					color: $color__su-orange;
				}
			}
			&:after {
				font-family: $font__headings-primary;
				content: "/";
				display: inline-block;
			}
			&:last-child {
				a {
					text-decoration: none;
					pointer-events: none;
				}
			}
			&:last-child:after {
				content: "";
			}
		}
	}
}
