.btn {
	font-size: 1rem;
	font-family: $font__headings-primary;
	font-weight: bold;
	padding: 1rem 1.2rem;
	border-radius: .5rem;
	text-decoration: none;
	//box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
	transition: all .5s;
	cursor: pointer;
	color: #fff;
	&:hover, &:focus {
		background-color: $color__su_orange--dark;
	}
	&--ui {
		display: block;
		border-radius: 0;
		svg {
			font-size: 1rem; 
			//margin-left: 1rem;
			@include breakpoint(sm) {
				font-size: 1.1rem; 
			}
			@include breakpoint(sm) {
				font-size: 1.2rem; 
			}
		}
		&.btn--orange {
			color: #fff;
			background-color: $color__su_orange--dark;
			border: 1px solid $color__su_orange--dark;
			&:hover, &:focus {
				background-color: $color__su_orange--dark;
			}
			&.toggled {
				background-color: $color__su_blue;
				border: 1px solid $color__su_blue;
				color: #fff;
			}
		}
		&.btn--blue {
			color: #fff;
			background-color: $color__su_blue;
			//border: 1px solid #fff;
			border: 0;
			&:hover, &:focus {
				background-color: $color__su_blue--dark;
			}
			&.toggled {
				background-color: $color__su_blue--dark;
				//border: 1px solid #fff;
			}
			svg {
				fill: #fff;
			}
		}
		&.btn--gray {
			color: #fff;
			background-color: $color__gray;
			//border: 1px solid #fff;
			border: 0;
			&:hover, &:focus {
				background-color: $color__gray--dark;
			}
			&.toggled {
				background-color: $color__gray--dark;
				//border: 1px solid #fff;
			}
			svg {
				fill: #fff;
			}
		}
		&.btn--white {
			color: $color__su_blue;
			background-color: #fff;
			border: 0;
			&:hover, &:focus {
				background-color: $color__su_orange--dark;
			}
			&.toggled {
				background-color: $color__su_orange--dark;
			}
			svg {
				fill: $color__su_blue;
			}
		}
	}
	&--text {
		padding: 0;
		border-radius: 0;
		box-shadow: none;
		font-size: 1rem;
		&:hover, &:focus {
			text-decoration: underline;
		}
		&.btn--orange {
			color: $color__su_orange--dark;
			font-weight: bold;
			&:hover, &:focus {
				color: $color__su-orange--dark;
				background-color: inherit;
			}
		}
	}
	&--primary {
		&.btn--orange {
			color: #fff;
			background-color: $color__su_orange--dark;
			border: 1px solid $color__su_orange--dark;
			&:hover, &:focus {
				background-color: $color__su_orange--dark;
			}
			&.toggled {
				background-color: $color__su_blue;
				border: 1px solid $color__su_blue;
			}
		}
		&.btn--blue {
			color: #fff;
			background-color: $color__su_blue;
			border: 1px solid $color__su_blue;
			&:hover, &:focus {
				background-color: $color__su_blue--dark;
			}
		}
	}
	&--white {
		color: $color__gray--dark;
		background-color: #fff;
		border: 1px solid $color__gray--dark;
		&:hover, &:focus {
			color: #fff;
			background-color: $color__gray--dark;
			border: 1px solid #fff;
		}
	}
	&--inverted {
		color: #fff;
		background-color: inherit;
		border: 1px solid #fff;
		box-shadow: none;
		&:hover, &:focus {
			background-color: #fff;
			color: $color__gray--dark;
			border: 1px solid $color__gray--dark;
		}
	}
	&--group {
		padding: 1rem 0 0 0;
		display: inline-flex;
		.btn {
			margin-bottom: 1rem;
		}
	}
}
