.card {
	box-sizing: border-box;
	color: $color__su-blue;
	margin: 0 .5rem;
	position: relative;
	text-align: left;
	border: 1px solid $color__gray--10;
	background-color: #fff;
	& > div {
		//background-color: #fff;
		//box-shadow: 0 2px 4px rgba(0,0,0,.2);
		
	}
	&--featuredImage--container {
		width: 100%;
		height: auto;
		position: relative;
		overflow: hidden;
		background-color: $color__su-orange;
		&:after {
			content: "";
			display: block;
			padding-bottom: 65%;
		}
	}
	
	&--featuredImage {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(1.01);
		transition: all .5s;
	}
	&--profileImage--container {
		text-align: center;
		padding-top: 1.5rem;
	}
	&--profileImage {
		width: 8rem;
		height: auto;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid $color__gray--10;
		transition: all .5s;
	}
	&--content {
		padding: 1.5rem;
		font-family: $font__headings-primary;
		&--labels {
			margin-bottom: 1rem;
			&--item {
				margin: 0;
				font-weight: bold;
				font-size: .75rem;
				text-transform: uppercase;
				color: $color__su-blue; // just in case the label isn't linked
				opacity: .65;
				a {
					text-decoration: none;
					color: $color__su-blue;
					&:hover, &:focus {
						text-decoration: underline;
					}
				}
			}
		}
		&--label {
			font-weight: bold;
			font-size: .75rem;
			text-transform: uppercase;
			margin-bottom: 1rem;
		}
		&--title{
			margin-bottom: 1rem;
			font-weight: bold;
			a {
				color: $color__su-blue;
				text-decoration: none;
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
		}
		&--articleTitle {
			font-family: $font__headings-secondary;
			font-weight: 400;
		}
		&--position {
			margin-bottom: .35rem;
			font-size: 1rem;
			font-style: italic;
			font-family: $font__headings-secondary;
			font-weight: 400;
		}
		&--company {
			font-size: .8rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-bottom: 1rem;
			font-weight: 400;
		}
		&--author {
			color: $color__su-blue;
			opacity: .75;
			font-size: 1rem;
			margin-bottom: 1rem;
		}
		&--excerpt {
			font-size: 1rem;
			margin-bottom: 1rem;
			p {
				font-size: 1rem;
			}
		}
		&--startDate, &--region {
			font-size: 1rem;
			margin-bottom: .5rem;
			svg {
				margin-right: .75rem;
				path {
					fill: $color__su-blue;
				}
			}
		}
		&.text-align-center {
			text-align: center;
		}
		&.text-align-left {
			text-align: left;
		}
	}
	&:hover, &:focus {
		.card {
			&--profileImage {
				transform: scale(1.05);
			}
			&--featuredImage {
				transform: scale(1.05);
			}
		}
	}
	&.card--people {
		// make room for the negative margin on the profile images
		margin-bottom: 1rem;
		text-align: center;
	}
	&.card--news {
		//margin: .5rem .5rem 1rem .5rem;
		border-bottom: 5px solid $color__su-orange--dark;
	}
	&.card--information {
	}

	&--topcap {
		background-color: $color__su-blue--10;
		padding: 1.5rem;
		text-align: left;
	}
	&--bottomcap {
		//background-color: $color__su-orange--10;
		text-align: left;
		padding: 1.5rem;
		//border-bottom: 5px solid $color__su-orange;
		.card--profileImage {
			margin-bottom: 1rem;
		}
		&--name {
			margin-bottom: .5rem;
		}
		&--description {
			font-size: 1rem;
		}
	}
}
