.form {
	font-family: $font__headings-primary;
	width: 100%;
	color: $color__su-blue;
	&--input {
		display: block;
		width: 100%;
		height: calc(1.5em + .75rem + 2px);
		padding: .375rem .75rem;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #495057;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		box-sizing: border-box;
		&--hidden {
			display: none;
		}
		&.invalid {
			border-color: #dc3545;
		}
	}
	&--close {
		height: calc(1.5em + .75rem + 2px);
		padding: .375rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		background-color: $color__gray--light;
		color: $color__gray;
	}
	&--input--group {
		position: relative;
		.form--input--text {
			padding-left: 2rem;
		}
		.svg-inline--fa {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			height: calc(1.5em + .75rem + 2px);
			padding-left: .5rem;
			color: $color__gray--light;
		}
	}
	&--row {
		display: flex;
		flex-direction: column;
		@include breakpoint(sm) {
			flex-direction: row;
		}
	}
	&--group {
		width: 100%;
		margin-bottom: 1rem;
	}
	&--col {
		margin-right: .5rem;
		margin-left: .5rem;
		margin-bottom: 1rem;
		width: 100%;
	}
	&--label {
		font-size: 1rem;
		display: block;
		//text-transform: uppercase;
		margin-bottom: .5rem;
		font-weight: bold;
		&.hide {
			display: none;
		}
	}
	&--check {
		display: flex;
		input[type=checkbox] {
			margin-right: .5rem;
		}
		label {
			font-weight: 400;
		}
	}
	&--text {
		font-size: .8rem;
		font-style: italic;
		color: $color__gray;
	}
	&--textarea {
		box-sizing: border-box;
		display: block;
    	width: 100%;
    	padding: .375rem .75rem;
    	font-size: 1rem;
    	font-weight: 400;
    	line-height: 1.5;
    	color: #495057;
    	background-color: #fff;
    	background-clip: padding-box;
    	border: 1px solid #ced4da;
		height: auto;
		overflow: auto;
		resize: vertical;
		&.invalid {
			border-color: #dc3545;
		}
	}
	&--check {
		input[type=radio] {
			margin-right: .5rem;
		}
		margin-bottom: .5rem;
	}
	&--select {
		margin: 0;
		text-transform: none;
		display: block;
		width: 100%;
		height: calc(1.5em + .75rem + 2px);
    	padding: .375rem .75rem;
		font-size: .8rem;
		font-weight: 400;
		line-height: 1.5;
		color: #000;
    	background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: .25rem;
		transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		&.invalid {
			border-color: #dc3545;
		}
	}
	&--note {
		font-size: .8rem;
		&.alert {
			color: #ff6464
		}
	}
}

