.intro {
	margin-top: 4rem;
	box-sizing: border-box;
	margin-bottom: 1rem;
	padding: 15px 10px;
	background-image: url('../img/streambanner.jpg');
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    border-top: 6px solid #00aeff;
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
	min-height: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font__headings-primary;
	&:before {
		content: "";
		overflow: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,47,85,.85);
		z-index: 1;
	}
	.intro--content {
		position: relative;
		z-index: 2;
		h2 {
			margin-bottom: 1rem;
			padding-bottom: .75rem;
			position: relative;
			&:after {
				content: '';
				width: 10%;
				height: 3px;
				background-color: #fff;
				position: absolute;
				bottom: 0px;
				left: calc(90%/2);
			}
		}
	}
}
