.lede {
	padding-top: .5rem;
	padding-bottom: 1.5rem;
	position: relative;
	margin-bottom: 2rem;
	p {
		color: $color__su-blue;
		font-family: $font__headings-secondary;
		font-size: 1.2rem;
		line-height: 1.6;
		@include breakpoint(sm) {
			font-size: 1.3rem;
		}
		@include breakpoint(md) {
			font-size: 1.5rem;
		}
		@include breakpoint(lg) {
			font-size: 1.6rem;
		}
	}
	&:after {
		display: block;
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 2.2em;
		height: .5rem;
		background-color: $color__gray--light;
	}
}
