.list {
	&--toc {
		li {
			border-bottom: 1px solid $color__gray--light;
			padding-top: 1rem;
			padding-bottom: 1rem;
			a {
				font-family: $font__headings-primary;
				color: $color__su-blue;
				font-weight: bold;
				text-decoration: none;
				display: block;
				position: relative;
				&:hover {
					color: $color__su-orange;
				}
				&::after {
					content: url('./img/angle-right-solid.svg');
					width: 1rem;
					height: 1rem;
					background-color: yellow;
					display: block;
					position: absolute;
					top: 0;
					right: 0;
				}
			}
		}
	}
}
