.logo {
	&--primary {
		height: 3.6rem;
		width: auto;
		padding: 1rem;
		vertical-align: top;
		&.lg {
			@include breakpoint(md) {
				height: 4rem;
			}
			@include breakpoint(md) {
				height: 5rem;
			}
		}
	}
}
