.menu {
	display: flex;
	flex-direction: column;
	.menu--item {
		font-family: $font__headings-primary;
		& > .menu--label {
			transition: all .15s;
			display: block;
			text-decoration: none;
			position: relative;
			padding: 0 .9rem;
			// Fixes a overflow where the menu is just a little to large
			@include breakpoint(1010px){
				padding: 0 1rem;
			}
		}
	} // end of menu--list-item
	&--row {
		@include breakpoint(sm) {
			flex-direction: row;
		}
	}
	&--list {
		// already is column by default
		flex-direction: column;
	}
	&--light {
		color: $color__su-blue;
		transition: all 1s;
		& > .menu--item {
			color: $color__su-blue;
			& > .menu--label {
				color: $color__su-blue;
				&:hover, &:focus {
					color: #fff;
					background-color: $color__su_orange;
				}
			}
		}
	}
	&--dark {
		color: #fff;
		a {
			color: #fff;
			transition: all .25s;
			&:hover, &:focus {
				opacity: .6;
			}
		}
	}
	&--primary {
		& > .menu--item {
			& > .menu--label {
				font-weight: bold;
			}
			&.has-children:hover, &.has-children:focus {
				& > .menu--label:after {
					position: absolute;
					bottom: -.06666666666666667rem;
					left: 50%;
					transform: translateX(-50%);
					display: block;
					width: 0;
					height: 0;
					content: "";
					border-right: .75rem solid transparent;
					border-bottom: .75rem solid #000e54;
					border-left: .75rem solid transparent;
				}
			}
		}
	}
	&--submenu_list {
		& >.menu--item {
			& > .menu--label {
				margin-bottom: .75rem;
				@include breakpoint(sm) {
					padding-left: 0;
				}
			}
		}
	}
	&--footer_nav {
		display: none;
		@include breakpoint(md) {
			display: flex;
		}
		& >.menu--item {
			margin-right: 1rem;
			& > .menu--label {
				margin-bottom: 1rem;
				font-weight: bold;
				@include breakpoint(sm) {
					padding-left: 0;
				}
			}
		}
	}
	&--footer_utility {
		.menu--item {
			margin-bottom: 1rem;
			.menu--label {
				padding-left: 0;
			}
		}
	}
	&--social {
		font-size: 2rem;
		.menu--item {
			transition: all .5s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&--sidebar {
		//background-color: orange;
		position: relative;
		list-style: none;
		margin-left: 1rem;
		margin-top: .5rem;
		&:after {
			position: absolute;
			top: 1rem;
			right: auto;
			bottom: 1rem;
			left: -.8rem;
			width: auto;
			height: auto;
			content: "";
			z-index: 0;
			border-left: 1px solid $color__gray;
		}
		.menu--item {
			cursor: pointer;
			.menu--label {
				display: block;
				line-height: 1.5;
				position: relative;
				top: 0;
				z-index: 1;
				font-weight: 400;
				padding: .5rem 0;
				transition: all .5s;
				&:after {
					position: absolute;
					top: 1rem;
					right: auto;
					bottom: auto;
					left: -1rem;
					box-shadow: #F7F4F1 0px 0px 0px 4px;
					height: 8px;
					width: 8px;
					content: "";
					border-radius: 1em;
					background-color: $color__gray--light;
					text-decoration: none !important;
				}
				&:hover, &:focus {
					background-color: transparent;
					color: #000;
					transform: translateY(-2px);
					&:after {
						background-color: $color__su-orange;
					}
				}
				&.active {
					font-weight: bold;
					&:after {
						background-color: $color__su-orange;
					}
				}
			}
		}
	}
	&--override {
		flex-direction: row;
	}
}
.menu--list {
	.menu--list-item {
		line-height: 2rem;
		padding: 0 1rem;
		& > .menu--label {
			display: block;
			text-decoration: none;
			opacity: 0.75;
			transition: all .5s;
			&:hover {
				opacity: 1;
			}
		}
	}
}

.menu--dropdown {
	background-color: $color__su_blue;
	border-bottom: 1px solid $color__su-orange;
	position: absolute;
	top: 2rem;
	left: 0;
	z-index: 1000;
	width: 100%;
	color: #fff;
	line-height: 1.2rem;
	.menu--dropdown-item {
		box-sizing: border-box;
		padding: 1.5rem 1rem;
		.menu--label {
			margin-bottom: .5rem;
		}
		.menu--description {
			color: #fff;
			margin-bottom: .5rem;
			font-size: 1rem;
		}
		.menu--cta {
			color: $color__su_orange;
			font-family: $font__headings-primary;
			font-weight: bold;
			height: auto;
			line-height: 1.2;
			padding: 0;
			&:hover {
				color: $color__su_orange--dark;
			}
		}
	}
	&.grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		@include breakpoint(sm) {
			.menu--dropdown-item {
				width: 50%;
			}
		}
		@include breakpoint(md) {
			.menu--dropdown-item {
				width: calc((100% - 3rem)/3);
			}
		}
	}
}
.header--utility {
	.menu--item {
		.menu--label {
			font-weight: 400;
			font-size: .85rem;
			padding: 0 .75rem;
		}
		&:first-child {
			.menu--label {
				padding-left: 1rem;
			}
		}
		&:last-child {
			.menu--label {
				padding-right: 1rem;
			}
		}
	}
}

