.modal {
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	padding: 3rem 1rem 1rem 1rem;
	box-sizing: border-box;
	overflow-y: scroll;
	#closeModal {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
	&--intro {
		text-align: center;
		margin-bottom: 2rem;
		&--label {
			text-transform: uppercase;
			color: $color__gray;
		}
	}
	
}
