.carousel {
	background-color: yellow;
	&--frame {
		height: 500px;
		position: relative;
	}
	&--slides {
		background-color: orange;
		display: flex;
		overflow-x: scroll;
		counter-reset: item;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
		&--item {
			background-color: pink;
			position: relative;
			flex: 0 0 100%;
			width: 100%;
			background-color: #f99;
			counter-increment: item;
			height: 300px;
		}
	}
}
