.slider {
	&--container {
		//overflow-x: scroll;
	}
	&--controls {
		//background-color: pink;
		display: flex;
		justify-content: space-between;
		position: relative;
		#sliderPrevious, #sliderNext {
			&.disabled {
				visibility: hidden;
			}
		}
	}
	&--frame {
		position: relative;
		overflow: hidden;
	}
	&--row {
		display: flex;
		overflow: hidden;
		margin: 0rem -.5rem 1rem -.5rem;
		scroll-snap-type: x mandatory;
		position: relative;
		box-sizing: border-box;
		& > * {
			width: 100%;
			flex: 0 0 auto;
			scroll-snap-align: start;
			box-sizing: inherit;
			@include breakpoint(sm) {
				width: calc((100% / 2) - .5rem);
			}
			@include breakpoint(md) {
				width: calc((100% / 3) - 1rem);
			}
		}
	}
	&--sr-only {
		font-family: $font__headings-primary;
		font-size: 1rem;
		position: relative;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0,0,0,0);
		border: 0;
		text-align: center;
		&:focus {
			background-color: $color__su-blue;
			position: relative;
			color: #fff;
			width: 100%;
			height: auto;
			margin: 0;
			clip: auto;
			padding: 10px;
		}
	}
	&--dots {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		margin: 0 0 2em;
		padding: 0;
		li {
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;
			box-sizing: border-box;
			margin: 0 6px;
			color: #fff;
			button {
				appearance: none;
				outline: 0;
				display: block;
				border-width: 0;
				font-size: 0;
				text-indent: -9999px;
				border: 1px solid!important;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				padding: 0 3.75em;
				position: relative;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				white-space: nowrap;
				cursor: pointer;
				&.active, &:focus {
					background-color: $color__su-blue;
				}
				&:after {
					transform: scale(.25);
					pointer-events: none;
					background: #fff;
					border-radius: 3em;
					content: "";
					height: 100%;
					left: 0;
					opacity: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}
			}
		}
	}
}
