.tile {
	box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	padding: 1rem;
	border-left: 5px solid red;
	margin: 0 0 1rem 0;
	box-shadow: 0 3px 10px rgba(0,0,0,.15);
	position: relative;
	overflow: hidden;
	color: $color__su-blue;
	text-align: left;
	&--title {
		margin: 0;
		font-family: $font__headings-primary;
		span {
			font-size: .8rem;
			color: gray;
		}
	}
	&--description {
		margin-top: .5rem;
		font-size: 1rem;
	}
	&--hover {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: -100%;
		z-index: 5;
		transition: all .25s;
		color: white;
		font-family: $font__headings-primary;
		font-weight: bold;
		a {
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			text-align: center;
		}
	}
	&:hover, &:focus, &:focus-within {
		.tile--hover {
			left: 0;
		}
	}
	&--bachelors {
		border-left-color: $color__bachelors;
		.tile--hover {
			background-color: $color__bachelors;
		}
	}
	&--masters {
		border-left-color: $color__masters;
		.tile--hover {
			background-color: $color__masters;
		}
	}
	&--online {
		border-left-color: $color__online;
		.tile--hover {
			background-color:$color__online;
		}
	}
	&--doctoral {
		border-left-color: $color__doctoral;
		.tile--hover {
			background-color: $color__doctoral;
		}
	}
	&--certificates {
		border-left-color: $color__certificates;
		.tile--hover {
			background-color: $color__certificates;
		}
	}
	&--minors {
		border-left-color: $color__minors;
		.tile--hover {
			background-color: $color__minors;
		}
	}
	@include breakpoint(sm) {
		width: calc((100% / 2) - 1rem);
		padding: 1.25rem;
		&:nth-child(odd) {
			margin-right: 1rem;
		}
	}
	@include breakpoint(md) {
		padding: 1.5rem;
	}
}
