.toggle-bar {
	background-color: $color__gray--5;
	border-bottom: 1px solid $color__gray--light;
	padding-top: .5rem;
	padding-bottom: .5rem;
	@include breakpoint(sm) {
		padding: 0;
	}
	&--row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&--label {
		font-size: .75rem;
		font-family: $font__headings-primary;
		text-transform: uppercase;
		margin-right: 1rem;
		letter-spacing: 1px;
		color: $color__su-blue;
	}
	&--list {
		display: flex;
		&--item {
			font-family: $font__headings-primary;
			font-size: 1rem;
			font-weight: bold;
			color: $color__gray;
			cursor: pointer;
			transition: all .25s;
			a {
				color: $color__gray--dark;
				text-decoration: none;
				display: block;
				padding: 1rem;
				border-bottom: 4px solid $color__gray--5;
				opacity: .75;
				&:hover, &:focus {
					opacity: 1;
					color: $color__su-blue;
					border-bottom: 4px solid $color__su-orange;
				}
			}
			&.active {
				a {
					opacity: 1;
					color: $color__su-blue;
					border-bottom: 4px solid $color__su-orange;

				}	
			}
		}
	}
}
