.gs--actions {
	background-color: $color__su-blue;
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 3rem;
	.container {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.section--title {
		color: $color__su-orange;
		margin-bottom: 1.5rem;
	}
	.section--description {
		color: #fff;
	}
	&--list {
		display: flex;
		flex-wrap: wrap;
		margin-top: 1rem;
	}
	.form--title {
		text-align: center;
		margin-top: 3rem;
		margin-bottom: 1rem;
	}
	.form--toggle--item {
		background-color: #fff;
		color: $color__su-blue;
		padding: 1rem;
		font-family: $font__headings-primary;
		border-bottom: 5px solid #fff;
		margin-right: 1px;
		cursor: pointer;
		&:hover, &:focus {
			border-bottom-color: $color__su-orange;
		}
	}
	.form--toggle--row {
		display: flex;
		justify-content: center;
		&.active {
			.form--toggle--item {
				opacity: 0.8;
				&.active {
					opacity: 1;
					border-bottom-color: $color__su-orange;
				}
			}
		}
	}
}
