.gs {
	position: relative;
	width: 100%;
	background-color: $color__su-blue;
	#gsClose {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 100;
	}
	#gsTop {
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		z-index: 100;
	}
	&--section {
		//background-color: pink;
		width: 100vw;
		min-height: 100vh;
		display: flex;
		align-items: center;
		position: relative;
		&.orange {
			background-color: $color__su-orange;
			color: #fff;
		}
		&.blue {
			background-color: $color__su-blue;
			color: #fff;
		}
		&.white {
			background-color: #fff;
			color: $color__su-blue;
		}
		&--title {
			margin-bottom: 2rem;
		}
		
	}
	#gs--slides {
		width: 100vw;
		height: 100vh;
		overflow-y: scroll;
	}
	&--slide {
		//background-color: pink;
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		position: relative;
		text-align: center;
	}
	@import './intro';
	@import './panels';
	@import './main';
	@import './actions';
}
