.gs--intro {
	display: block;
	@include breakpoint(sm) {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.container--content {
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 4rem;
		//background-color: pink;
		@include breakpoint(sm) {
			padding-top: 0;
		}
	}
	.intro--title {
		//background-color: olive;
		margin-bottom: 2rem;
		font-size: 1.5rem;
		position: relative;
		padding-bottom: 2rem;
		@include breakpoint(sm) {
			font-size: 1.75rem;
		}
		@include breakpoint(md) {
			font-size: 2rem;
		}
		@include breakpoint(lg) {
			font-size: 2.5rem;
		}
		&:after {
			content:'';
			display: block;
			width: 5rem;
			height: 5px;
			background-color: $color__su-orange;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.intro--description {
		font-family: $font__headings-secondary;
		font-size: 1.25rem;
		line-height: 1.5;
		color: #fff;
		@include breakpoint(sm) {
			font-size: 1.35rem;
		}
		@include breakpoint(md) {
			font-size: 1.5rem;
		}
		@include breakpoint(lg) {
			font-size: 1.75rem;
		}
	}
	#gsDown {
		border-radius: 50%;
		margin-top: 3rem;
		margin-left: auto;
		margin-right: auto;
		svg {
			width: 2rem;
			height: 2rem;
			//height: auto;
		}
		@include breakpoint(sm) {

		}
	}
}
