.gs--main {
	//background-color: limegreen;
	width: 100%;
	.gs--subsection {
		background-color: #fff;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		padding: 2rem;
		box-sizing: border-box;
		@include breakpoint(sm) {
			flex-direction: row;
		}
		&--image {
			width: 100%;
			//background-color: red;
			@include breakpoint(sm) {
				width: 40%;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
		&--content {
			width: 100%;
			//background-color:aqua;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: 1rem;
			padding-bottom: 1rem;
			@include breakpoint(sm) {
				width: calc(60% - 3rem);
			}
			h3 {
				margin-bottom: 1rem;
				position: relative;
				color: $color__su-blue;
				&:after {
					content: '';
					display: block;
					width: 6rem;
					height: 3px;
					background-color: $color__su-blue;
					position: absolute;
					top: .5rem;
					left: -7rem;
				}
			}
			p {
				color: $color__su-blue;
			}
		}
	}
}
