&--panels {
	//background-color: aqua;
	position: relative;
	display: block;
	min-height: 100vh;
	.panels-relative-frame {
		//background-color: limegreen;
		position: relative;
	}
	#panelPreviousBtn, #panelNextBtn {
		position: absolute;
		top: 50%;
		z-index: 100;	
	}
	#panelPreviousBtn {
		left: -1rem;
		transform: translate(0, -50%);
		@include breakpoint(sm) {
			transform: translate(-50%, -50%);
			left: 0;
		}
	}
	#panelNextBtn {
		right: -1rem;
		transform: translate(0, -50%);
		@include breakpoint(sm) {
			transform: translate(50%, -50%);
			right: 0;
		}
	}
	#panelCloseBtn {
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 100;
	}
	.panels-container {
		//background-color: pink;
		width: 100%;
		margin: 0px auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		transition: all .5s;
		border: 1px solid $color__su-blue;
		overflow: hidden;
		height: 0;
		padding-bottom: 66.667%;
		.panel {
			height: 0;
			width: 100%;
			padding-bottom: 66.667%;
			transition: all .5s;
			//background-color: yellow;
			//border-right: 1px solid $color__su-blue;
			position: relative;
			overflow: hidden;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 25%;
			&:last-child {
				border-right: 0;
			}
			.panel-bg {
				width: 100%;
				height: 100%;
				opacity: 0.35;
				background-color: red;
				position: absolute;
				top: 0;
				left: 0;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				transition: all .5s;
				&.panel-education {
					background-image: url('./img/your-education-2-1200.jpg');
					background-position: 33% 50%;
				}
				&.panel-experience {
					background-image: url('./img/your-experience-800.jpg');
					background-position: 68.3% 50%;
				}
				&.panel-connections {
					background-image: url('./img/your-connections-800.jpg');
				}
				&.panel-future {
					background-image: url('./img/endless-opportunities-2-1200.jpg');
					background-position: 50% 50%;
				}
			}
			.panel-btn {
				width: 4rem;
				height: 4rem;
				box-sizing: border-box;
				border-radius: 50%;
				border: 0;
				transition: all .5s;
				position: absolute;
				cursor: pointer;
				svg {
					width: 1.5rem;
					height: auto;
				}
				&.trigger {
					background-color: transparent;
					color: $color__su-orange;
					padding: 0 1rem;
					bottom: 10%;
					left: 50%;
					z-index: 10;
					margin-left: -2rem;
					margin-top: -2rem;
					@include breakpoint(md) {
						top: 50%;
						bottom: auto;
					}
					&:hover, &:focus {
						background-color: $color__su-orange--dark;
						transform: scale(1.1);
					}
					
				}
				&.close {
					background-color: $color__su-orange;
					color: $color__su-blue;
					top: 1rem;
					right: 1rem;
					z-index: 10;
					transition: all .5s;
					&:hover, &:focus {
						background-color: $color__su-orange--dark;
					}
				}
				&:hover, &:focus {
					background-color: $color__su-orange--dark;
				}
			}
			&:hover, &:focus  {
				flex-grow: 5;
				@include breakpoint(md) {
					flex-grow: 2;
				}
	
				.trigger {
					//transform: scale(1.3);
					background-color: $color__su-orange;
					color: #fff;
					top: 80%;
					@include breakpoint(md) {
						top: 50%;
					}
				}
				.panel-bg {
					opacity: 0.7;
					transform: scale(1.1);
				}
			}
			&.locked {
				flex-grow: 20;
				flex-basis: 100%;
				.trigger {
					display: none;
				}
				.panel-bg {
					opacity: 0.7;
					transform: scale(1.1);
				}
			}
			&.collapsed {
				flex-grow: 0;
				flex-basis: 0%;
			}
			
		}
	}
	.panel-text-container {
		position: relative;
		left: 0;
		top: 0;
		//background-color: aqua;
		display: block;
		box-sizing: border-box;
		//width: 100%;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: 100%;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		@include breakpoint(md) {
			position: absolute;
			top: auto;
			bottom: 2rem;
			left: -2rem;
			z-index: 100;
			padding-top: 0rem;
			padding-bottom: 0rem;
		}
		h2 {
			font-size: 3rem;
			transition: all .5s;
			//background-color: red;
			display: inline-block;
			text-shadow: 0px 0px 10px rgba(0,0,0,.35);
			@include breakpoint(md) {
				font-size: 5rem;
			}
		}
		.tenets {
			//background-color: aqua;
			height: 2rem;
			@include breakpoint(md) {
				height: 6rem;
			}
			li {
				font-size: 2rem;
				font-family: $font__headings-secondary;
				font-weight: 400;
				display: inline-block;
				text-shadow: 0px 0px 10px rgba(0,0,0,.35);
				//background-color: aqua;
				span {
					font-family: $font__headings-primary;
					font-weight: bold;
				}
				@include breakpoint(md) {
					font-size: 5rem;
				}
			}
			@include breakpoint(md) {
				//height: 5rem;
			}
		}
	}
	&.engaged {
		.panel-text-container {
			h2 {
				font-size: 1.2rem;
				color: rgba(255,255,255,.8);
				@include breakpoint(sm) {
					font-size: 2rem;
				}
			}
		}
	}
}
