@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.page {
	background-color: #fff;
	&--row {
		display: flex;
		justify-content: center;	
	}
	&--profileImage {
			width: 10rem;
			height: auto;
			margin-top: .5rem;
			margin-bottom: .5rem;
			border-radius: 50%;
			overflow: hidden;
			border: 1px solid $color__gray--light;
			@include breakpoint(sm) {
				width: 12rem;
			}
			@include breakpoint(md) {
				width: 14rem;
			}
		}
	&--intro {
		padding: 2.5rem 0 0 0;
		background-color: #fff;
		color: $color__su-blue;
		margin-bottom: 2rem;
		@include breakpoint(sm) {
			padding: 2.75rem 0 0 0;
		}
		@include breakpoint(md) {
			padding: 3rem 0 0 0;
		}
		h1 {
			color: $color__su-orange;
			margin-bottom: 1rem;
			span.label {
				color: $color__su-blue;
			}
		}
		h3.label {
			font-size: .8rem;
			text-transform: uppercase;
			line-height: 1.3;
			margin-bottom: 1rem;
			display: block;
		}
		h3.author {
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.5;
			color: $color__su-blue;
			opacity: 0.75;
			@include breakpoint(sm) {
				font-size: 1.1rem;
			
			}
			@include breakpoint(sm) {
				font-size: 1.2rem;
			}
		}
		p {
			margin-top: 1.5rem;
		}
		&--categories {
			margin-bottom: 1rem; 
			&--item {
				text-transform: uppercase;
				font-family: $font__headings-primary;
				font-weight: bold;
				font-size: .8rem;
				a {
					text-decoration: none;
					color: $color__su-blue;
					opacity: .75;
					&:hover, &:focus {
						text-decoration: underline;
					}
				}
			}
		}
	}
	&--person {
		color: $color__su-blue;
		margin-top: 6rem;
		&--header {
			//background-color: pink;
			width: 100%;
			height: 2rem;
			@include breakpoint(sm) {
				height: 3rem; 
			}
			@include breakpoint(md) {
				height: 4rem;
			}
			svg {
				width: 100%;
				height: 2rem;
				@include breakpoint(sm) {
					height: 3rem;
				}
				@include breakpoint(md) {
					height: 4rem;
				}
			}
			&--intro {
				// half the profileImage width plus the height of the svg
				margin-top: -7rem;
				@include breakpoint(sm) {
					margin-top: -9rem;
				}
				@include breakpoint(md) {
					margin-top: -11rem;
				}
			}
		}
		&--body {
			background-color: #fff;
			padding-top: 4rem;
			&--intro {
				text-align: center;
				h1 {
					color: $color__su-orange;
					margin-bottom: .5rem;
					font-size: 1.5rem;
					@include breakpoint(sm) {
						font-size: 1.7rem;
					}
					@include breakpoint(md) {
						font-size: 2rem;
					}
				}
				h4 {
					font-size: 1.1rem;
					margin-bottom: 1rem;
					@include breakpoint(sm) {
						font-size: 1.2rem;
					}
					@include breakpoint(md) {
						font-size: 1.4rem;
					}
				}
				h5 {
					font-size: .9rem;
					@include breakpoint(sm) {
						font-size: 1rem;
					}
					@include breakpoint(md) {
						font-size: 1.1rem;
					}
				}
				p {
					font-size: 1.25rem;
					margin-bottom: 1rem;
				}
			}
		}
		&--meta {
			border-top: 1px solid $color__gray--10;
			border-bottom: 1px solid $color__gray--10;
			padding: 1rem 2rem 0 2rem;
			text-align: center;
			margin-bottom: 2rem;
			&--list {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: space-between;
				@include breakpoint(sm) {
					flex-direction: row;
				}
				&--item{
					font-family: $font__headings-primary;
					// this centers meta items if there is only one, but pinches other a little toward the center
					margin:0 auto;
					&--label {
						font-weight: bold;
						font-size: .8rem;
						text-transform: uppercase;
						letter-spacing: 1px;
					}
					&--value {
						font-size: 1.1rem;
						margin-bottom: 1rem;
					}
					
				}
			}

		}
		.gutenberg--content {
			h3 {
				margin-bottom: .5rem;
				margin-top: 2rem;
			}
		}
		&--news {
			padding: 1rem 2rem;
			border-top: 1px solid $color__gray--10;
			ul {
				margin-top: 1rem;
				margin-left: 1rem;
				li {
					margin-bottom: 1rem;
					list-style: disc;
					a {
						font-family: $font__headings-primary;
						font-size: 1rem;
					}
				}
			}
		}
		
	}
	&--sidebar {
		width: 100%;
		//background-color: #F7F4F1;
		padding: 1rem 1.5rem;
		display: none;
		border-right: 1px solid $color__gray--10;
		@include breakpoint(sm) {
			width: 15rem;
			display: block;
		}
	}
	&--program {
		display: flex;
		flex-direction: column;
		@include breakpoint(sm) {
			flex-direction: row;
		}
	}
	&--main {
		width: 100%;
		background-color: #fff;
	}
	&--featured-image {
		margin-bottom: 1.5rem;
		position: relative;
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
		&.fixed-height {
			height: 18rem;
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: top center;
			background-size: cover;
			@include breakpoint(sm) {
				height: 30rem;
			}
			@include breakpoint(md) {
				height: 36rem;
			}
		}
		&--anchor {
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: rgb(0,14,84);
			background: linear-gradient(180deg, rgba(0,14,84,0) 0%, rgba(0,14,84,1) 100%);			
			.anchor--underline {
				border-bottom: .5rem solid $color__su-orange;
				display: inline-block;
				padding-top: 2rem;
				padding-bottom: 2rem;
				@include breakpoint(sm) {
					border-bottom: .75rem solid $color__su-orange;
				}
				@include breakpoint(md) {
					border-bottom: .9rem solid $color__su-orange;
				}
				@include breakpoint(lg) {
					border-bottom: 1rem solid $color__su-orange;
				}
			}
			h1 {
				color: #fff;
				font-size: 1.5rem;
				text-shadow: 0px 0px .5rem rgba(0,0,0,.35);
				@include breakpoint(sm) {
					font-size: 1.7rem;
				}
				@include breakpoint(md) {
					font-size: 2.5rem;
				}
				@include breakpoint(lg) {
					font-size: 3rem;
				}
			}
		}
	}
	&--hero {
		width: 100%;
		height: 480px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		position: relative;
		@include breakpoint(sm) {
			height: 600px;
		}
		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.35);
			position: absolute;
			top: 0;
			left: 0;
		}
		.container {
			//background-color: limegreen;
			position: relative;
		}
		&--text {
			//background-color: pink;
			position: absolute;
			top: auto;
			bottom: 20%;
			width: 100%;
			z-index: 3;
			text-align: center;
			h1 {
				color: #fff;
				text-shadow: 0 0 10px rgba(0,0,0,.25);
			}
			h3.label {
				font-size: 1rem;
				text-transform: uppercase;
				line-height: 1;
				margin-bottom: 1rem;
				display: block;
				color: #fff;
				text-shadow: 0 0 10px rgba(0,0,0,.25);
			}
			@include breakpoint(sm) {
				text-align: left;
			}
		}
	}
	&--utility-bar {
		background-color: $color__su-blue;
		color: #fff;
		height: 55px;
		font-family: $font__headings-primary;
		font-size: 15px;
		line-height: 18px;
		width: 100%;
		position: relative;
		@include breakpoint(sm){
			overflow-y: scroll;
		}
		.container--fluid {
			padding-top: 0;
			padding-bottom: 0;
			padding-left: 15px;
			padding-right: 15px;
		}
		.row {
			margin-left: -15px;
			margin-right: -15px;
			.col {
				padding: 0;
				margin: 0;
				-webkit-box-flex: 0;
				-webkit-flex: 0 0 auto;
				flex: 0 0 auto;
				width: auto;
				max-width: none;
			}
			nav {
				display: block;
			}
		}
		span.title {
			padding: 1rem 2rem;
			display: flex;
			justify-content: space-between;
			box-sizing: border-box;
			cursor: pointer;
			svg {
				width: 1.5rem;
				height: 1.5rem;
				transition: all .2s;
				//background-color: pink;
			}
			@include breakpoint(sm) {
				padding: 18px 20px 18px 35px;
				cursor: default;
				svg {
					display: none;
					
				}
			}
			&.active {
				svg {
					transform: rotate(180deg);
				}
			}
		}
		nav.utility-bar-nav {
			position: absolute;
			top: 55px; 
			left: 0;
			background-color: $color__su-blue;
			z-index: 1;
			width: 100%;
			box-sizing: border-box;
			display: none;
			@include breakpoint(sm) {
				position: relative;
				top: 0;
				background-color: inherit;
				padding-left: 17px;
				display: block;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
				width: 100%;
				@include breakpoint(sm) {
					display: flex;
					flex-direction: row;
				}
				li {
					a {
						padding: 1rem;
						border-bottom: 1px solid rgba(255,255,255,.35);
						color: #fff;
						text-decoration: none;
						box-sizing: border-box;
						display: block;
						@include breakpoint(sm) {
							padding: 18px 9px 16px 9px;
							margin: 0 9px;
							border-bottom: 3px solid transparent;
							&:hover {
								border-color: $color__su-orange;
							}
						}
					}	
				}
			}
			&.active {
				display: block;
			}
		}
		&.sticky {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 999;
			box-shadow: 1px 1px 1px #222;
			animation: moveDown 0.5s ease-in-out;
		}
	}
	@import './subpage';
	
	&--related-content {
		background-color: $color__su_orange--10;
		padding-top: 2rem;
		text-align: center;
		.section--label {
			margin-bottom: 1rem;
			color: $color__su-blue;
		}
		&--container {
			overflow-x: scroll;
		}
		&--row {
			display: inline-flex;
			margin: 0px auto;
			overflow-x: auto;
			//background-color: pink;
			.card {
				width: 320px;
				margin: .5rem;
				flex-shrink: 0;
			}
		}
	}
	&--event {
		background-color: yellowgreen;
		&--meta {
			text-align: center;
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;
			color: $color__su-blue;
			@include breakpoint(sm) {
				text-align: left;
			}
		}
		&--featuredImage {
			width: 100%;
			height: auto;
			margin-bottom: 1rem;
		}
		&--startTime, &--region {
			svg {
				margin-right: 0.75rem;
			}
		}
		.gutenberg--content{
			
			.section{
				background-color: inherit;
				padding-bottom: .5rem;
			}
			ol, ul{
				margin: 0;
				margin-left: 2rem;
				margin-bottom: 1rem;
				li {
					font-size: 1rem;
					line-height: 1.7;
					font-family: $font__headings-primary;
					margin-bottom: 1rem;
					color: $color__su-blue;
					@include breakpoint(sm) {
						font-size: 1.1rem;
					}
					@include breakpoint(md) {
						font-size: 1.2rem;
					}
					@include breakpoint(lg) {
						font-size: 1.3rem;
					}
				}
			}
			ul {
				li {
					list-style: disc;
				}
			}

			ol {
				li {
					list-style: decimal;
				}
			}
		}

		.event-details{
			border-top: 1px solid $color__gray--medium;
			display: flex;
			flex-direction: column;
			padding-bottom: 4rem;

			p{
				font-size: 1.2rem;
			}

		}

		h2.label{
			font-size: .95rem;
			text-transform: uppercase;
			line-height: 1.3;
			margin-top: .5rem;
			margin-bottom: 1rem;
			display: block;
		}

		h3{
			margin-top:1.5rem;
			margin-bottom: .45rem;
			line-height: 1.65;
		}
		.contact-name{
			// ! needs to refactored into better typography
			font-family: $font__main;;
			font-size: 1.3rem;
			line-height: 1.5;
			// margin: .5rem 0;
		}

		address{
			// ! needs to refactored into better typography
			font-family: $font__main;
			display: flex;
			flex-direction: column;
			a {
				font-style: normal;
				text-decoration: none;
				font-size: 1.2rem;
				line-height: 1.5;
			}
		}
	}
}
