@keyframes moveFaculty {
    0% {
        transform: translate3d(0,-500px,0)
    }

    to {
        transform: translate3d(0,100px,0)
    }
}

@keyframes moveFacultyAlt {
    0% {
        transform: translate3d(0,100px,0)
    }

    to {
        transform: translate3d(0,-500px,0)
    }
}

&--subpage {
		margin: 1rem;
		@include breakpoint(sm) {
			margin: 1.5rem;
		}
		@include breakpoint(md) {
			margin: 2rem;
		}
		&--wrap {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			position: relative;
			overflow: hidden;
			flex-wrap: wrap;
			@include breakpoint(md) {
				flex-direction: row;
			}
		}
		&--right--faculty {
			background-color: #fff;
			position: relative;
			z-index: 2;
			width: 100%;
			@include breakpoint(md) {
				width: 50%;
				&.break {
					width: 100%;
				}
			}
		}
		&--left--faculty {
			background-color: $color__su-blue--10;
			overflow: hidden;
			width: 100%;
			min-height: 160px;
			//display: none;
			box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.3);
			&--relative {
				//background-color: limegreen;
				height: 600px; // cap the height due to difference lengths of faculty columns
				overflow: hidden;
				position: absolute;
				left: -10px;
				top: 0px;
				z-index: 1;
				display: block;
				width:730px;
				will-change: transform;
				transform: translate3d(0,-150px,0) rotate(24deg);
				ul {
					//background-color: yellow;
					display: inline-block;
					margin-right: 16px;
					width: 130px;
					position: relative;
					//top: 60px;
					top: 0;
					left: 0;
					vertical-align: top;
					//animation: moveFaculty 25s linear 0s infinite alternate;
					li {
						margin-bottom: 16px;
						background-color: $color__su-blue--10;
						width: 100%;
						img {
							width: 100%;
							height: auto;
							//filter: grayscale(100%);
							//opacity: 0.6;
						}
						&.tenth {
							height: 10px;
						}
						&.quarter {
							height: 25px;
						}
						&.third {
							height: 33px;
						}
						&.half {
							height: 50px;
						}
						&.full {
							height: 100px;
						}
					
						&.orange {
							//background-color: $color__su-orange;
							img {
								//border-bottom: 10px solid $color__su-orange;
							}
						}
						&.orange--medium {
							background-color: $color__su-orange--medium;
							img {
								//border-bottom: 10px solid $color__su-orange--medium;
							}
						}
						&.orange--light {
							background-color: $color__su-orange--light;
							img {
								//border-bottom: 10px solid $color__su-orange--light;
							}
						}
						&.orange--10 {
							background-color: $color__su-orange--10;
							img {
								//border-bottom: 10px solid $color__su-orange--10;
							}
						}
						&.blue {
							background-color: $color__su-blue;
							img {
								//border-bottom: 10px solid $color__su-blue;
							}
						}
						&.blue--medium {
							background-color: $color__su-blue--medium;
							img {
								//border-bottom: 10px solid $color__su-blue--medium;
							}
						}
						&.blue--light {
							background-color: $color__su-blue--light;
							img {
								//border-bottom: 10px solid $color__su-blue--light;
							}
						}
						&.blue--10 {
							background-color: $color__su-blue--10;
							img {
								//border-bottom: 10px solid $color__su-blue--10;
							}
						}
					}
					&:nth-child(odd) {
						top: 50px;
						//animation: moveFacultyAlt 25s linear 0s infinite alternate;
					}
				}
			}
			@include breakpoint(md) {
				display: block;
				width: 50%;
				min-height: 310px;
			}
		}
		&--image {
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			img {
				width: 100%;
				height: auto;
				vertical-align: top;
			}
			@include breakpoint(md) {
				width: 50%;
			}
		}
		&--content {
			box-sizing: border-box;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 1rem;
			color: $color__su-blue;
			@include breakpoint(sm) {
				padding: 1.5rem;
			}
			@include breakpoint(md) {
				padding: 2rem;
				width: 50%;
				&.break {
					width: 100%;
				}
			}
			h2 {
				
				margin-bottom: 1rem;
				font-size: 1.5rem;
			}
			p {
				font-size: 1rem;
				@include breakpoint(sm) {
					font-size: 1.05rem;
				}
				@include breakpoint(md) {
					font-size: 1.1rem;
				}
			}
		}
	}
