@font-face {
  font-family: "ShermanSerif";
  src: url("https://assets.syracuse.edu/fonts/shermanserif-book.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermanserif-book.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermanserif-book.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}
@font-face {
  font-family: "ShermanSerif";
  src: url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermanserif-book-intl.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}
/* Sherman Serif Book Italic */
@font-face {
  font-family: "ShermanSerif";
  src: url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}
@font-face {
  font-family: "ShermanSerif";
  src: url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermanserif-bookitalic-intl.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}
/* Sherman Sans Book */
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-book.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-book.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-book.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-book-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-book-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-book-intl.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}
/* Sherman Sans Book Italic */
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bookitalic.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bookitalic.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bookitalic.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bookitalic-intl.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}
/* Sherman Sans Bold */
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bold.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bold.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bold.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bold-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bold-intl.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}
/* Sherman Sans Bold Italic */
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bolditalic.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bolditalic.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bolditalic.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+0020-007F, U+00A9, U+00AE, U+2013-201D;
}
@font-face {
  font-family: "ShermanSans";
  src: url("https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.woff2") format("woff2"), url("https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.woff") format("woff"), url("https://assets.syracuse.edu/fonts/shermansans-bolditalic-intl.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  unicode-range: U+00A0-00A8, U+00C0-024F, U+201E-2026;
}
body .container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  /*
  	? Add align Wide breakpoints here
  */
}
@media (max-width: 35.99875em) {
  body .container {
    max-width: 540px;
  }
}
@media (min-width: 47.99875em) {
  body .container {
    max-width: 720px;
  }
}
@media (min-width: 61.99875em) {
  body .container {
    max-width: 960px;
  }
}
@media (min-width: 74.99875em) {
  body .container {
    max-width: 1140px;
  }
}
body .container--content {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (min-width: 47.99875em) {
  body .container--content {
    max-width: 700px;
  }
}
@media (min-width: 61.99875em) {
  body .container--content {
    max-width: 80ch;
  }
}
@media (min-width: 74.99875em) {
  body .container--content {
    max-width: 90ch;
  }
}
body .container--content--break {
  margin-left: 0;
}
@media (min-width: 47.99875em) {
  body .container--content--break {
    margin-left: calc((((100vw - 700px) / 2) * -1) - 1rem);
    width: 100vw;
  }
}
@media (min-width: 61.99875em) {
  body .container--content--break {
    margin-left: calc((((100vw - 80ch) / 2) * -1) - 1rem);
  }
}
@media (min-width: 74.99875em) {
  body .container--content--break {
    margin-left: calc((((100vw - 90ch) / 2) * -1) - 1rem);
  }
}
body .container--fluid {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
}
body .grid--container {
  width: 100%;
  box-sizing: border-box;
}
body .grid {
  margin-top: 4rem;
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body .grid--item {
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 6rem;
}
@media (min-width: 47.99875em) {
  body .grid--item {
    width: calc((100% - 2rem) / 2);
  }
}
@media (min-width: 61.99875em) {
  body .grid--item {
    width: calc((100% - 3rem) / 3);
  }
}
body .grid .card {
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 47.99875em) {
  body .grid .card {
    width: calc((100% - 2rem) / 2);
  }
}
@media (min-width: 61.99875em) {
  body .grid .card {
    width: calc((100% - 3rem) / 3);
  }
}
body .masonry--grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px;
  /* gutter size offset */
  width: auto;
}
body .masonry--grid--column {
  padding-left: 30px;
  /* gutter size */
  background-clip: padding-box;
}
body .row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 47.99875em) {
  body .row {
    flex-direction: row;
  }
}
body .row.justify-content-between {
  justify-content: space-between;
}
body .row.align-items-center {
  align-items: center;
}
body .col {
  width: 100%;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
body .col.col--50 {
  width: 100%;
}
@media (min-width: 47.99875em) {
  body .col.col--50 {
    width: 50%;
  }
}
body .text-align-center {
  text-align: center;
}
body .text-align-right {
  text-align: left;
}
@media (min-width: 47.99875em) {
  body .text-align-right {
    text-align: right;
  }
}
body .text-align-left {
  text-align: left;
}
body h2, body h3, body h4, body h5, body h6 {
  color: #000E54;
}
body p {
  font-size: 1rem;
  line-height: 1.7;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
  margin-bottom: 1rem;
  color: #000E54;
}
@media (min-width: 47.99875em) {
  body p {
    font-size: 1.1rem;
  }
}
@media (min-width: 61.99875em) {
  body p {
    font-size: 1.2rem;
  }
}
@media (min-width: 74.99875em) {
  body p {
    font-size: 1.3rem;
  }
}
body .wp-block-buttons .wp-block-button .wp-block-button__link {
  background-color: #F76900;
  color: #fff;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
  font-weight: bold;
}
body .wp-block-table {
  text-align: left;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
  margin: 0 0 1rem 0;
  padding: 0;
}
body .wp-block-table table {
  border-spacing: 0;
  border-collapse: collapse;
}
body .wp-block-table table td {
  border-bottom: 1px solid #ADB3B8;
  padding: 1rem;
  vertical-align: top;
}
body .wp-block-table table th {
  border-bottom: 2px solid #000000;
  padding: 1rem;
  font-weight: bold;
}
body .lede {
  padding-bottom: 2rem;
  position: relative;
  margin-bottom: 2rem;
}
body .lede p {
  color: #000E54;
  font-family: "ShermanSerif", Georgia, serif;
  font-size: 1.5rem;
  line-height: 1.6;
}
body .lede:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2.2em;
  height: 0.5rem;
  background-color: #ADB3B8;
}
body > ul {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body > ul li {
  font-size: 1rem;
  line-height: 1.7;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
  margin-bottom: 1rem;
  color: #000E54;
  list-style: disc;
}
@media (min-width: 47.99875em) {
  body > ul li {
    font-size: 1.1rem;
  }
}
@media (min-width: 61.99875em) {
  body > ul li {
    font-size: 1.2rem;
  }
}
@media (min-width: 74.99875em) {
  body > ul li {
    font-size: 1.3rem;
  }
}
body .aside {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 0.4rem solid #ADB3B8;
  padding-left: 1.4rem;
  margin-bottom: 1rem;
}
body .aside p {
  font-style: italic;
  font-family: "ShermanSerif", Georgia, serif;
}
body .aside p:last-child {
  margin-bottom: 0;
}
body .course {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #000E54;
  color: #000E54;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
}
@media (min-width: 47.99875em) {
  body .course {
    flex-direction: row;
  }
}
body .course--left {
  width: 100%;
  margin-bottom: 0.5rem;
}
@media (min-width: 47.99875em) {
  body .course--left {
    width: 20%;
    margin-right: 5%;
    margin-bottom: 0;
  }
}
body .course--right {
  width: 100%;
}
body .course--prefix {
  margin-right: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
}
body .course--number {
  font-weight: bold;
  font-size: 1rem;
}
body .course--title {
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
@media (min-width: 47.99875em) {
  body .course--title {
    font-size: 1.1rem;
  }
}
@media (min-width: 61.99875em) {
  body .course--title {
    font-size: 1.2rem;
  }
}
@media (min-width: 74.99875em) {
  body .course--title {
    font-size: 1.3rem;
  }
}
body .course--description {
  display: block;
  margin-bottom: 0;
}
body .faq {
  padding-top: 1rem;
  border-top: 1px solid #000E54;
  color: #000E54;
  position: relative;
}
body .faq--question {
  margin: 0;
  margin-bottom: 1rem;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
  padding-right: 2.5rem;
}
body .faq--answer {
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
  margin: 0;
  background-color: #EEEEEE;
  padding: 1rem;
  display: none;
  position: relative;
  top: -100;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  padding-right: 2.5rem;
}
body .faq--answer p {
  margin: 0;
}
body .faq--answer p:last-child {
  margin-bottom: 0;
}
body .faq--trigger {
  position: absolute;
  top: 1rem;
  right: 0;
  border: 0;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.3s;
}
body .faq.active .faq--answer {
  display: block;
  top: 0;
  opacity: 1;
}
body .faq.active .faq--trigger {
  transform: rotate(45deg);
}
body .card {
  box-sizing: border-box;
  background-color: #fff;
  color: #000E54;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
body .card--featuredImage--container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: #F76900;
}
body .card--featuredImage--container:after {
  content: "";
  display: block;
  padding-bottom: 65%;
}
body .card--featuredImage {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.01);
  transition: all 0.5s;
}
body .card--profileImage--container {
  text-align: center;
  margin-top: -4rem;
}
body .card--profileImage {
  width: 8rem;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #EEEEEE;
  transition: all 0.5s;
}
body .card--content {
  padding: 1.5rem;
  font-family: "ShermanSans", "Trebuchet MS", Tahoma, sans-serif;
}
body .card--content--title {
  margin-bottom: 1rem;
  font-weight: bold;
}
body .card--content--position {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-style: italic;
  font-family: "ShermanSerif", Georgia, serif;
}
body .card--content--company {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
body .card--content--author {
  font-size: 0.9rem;
  color: #000E54;
}
body .card--content--author span {
  font-weight: bold;
  color: #000E54;
}
body .card--content--excerpt {
  font-size: 1rem;
  margin-bottom: 1rem;
}
body .card--content--startDate, body .card--content--region {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
body .card--content--startDate svg, body .card--content--region svg {
  margin-right: 0.75rem;
}
body .card--content--startDate svg path, body .card--content--region svg path {
  fill: #000E54;
}
body .card:hover .card--profileImage, body .card:focus .card--profileImage {
  transform: scale(1.05);
}
body .card:hover .card--featuredImage, body .card:focus .card--featuredImage {
  transform: scale(1.05);
}
body .card.card--people {
  margin: 0.5rem 0.5rem 6rem 0.5rem;
}
body .card.card--news {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=editor-styles.css.map */
