.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: left;
	@include breakpoint(sm) {
		text-align: right;
	}
}
.text-align-left {
	text-align: left;
}
.alignfull {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
