$sizes: xs, sm, md, lg, xl;

.col {
	width: 100%;
	box-sizing: border-box;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
	// general, not responsive
	@for $i from 1 through 12 {
		$widthPercentarge: (100 * ($i/12)) * 1%;
		&.col--#{$i} {
			@include breakpoint(sm) {
				flex: 0 0 $widthPercentarge;
				width: $widthPercentarge;
			}
		}
	}

	// responsive
	@each $size in $sizes {
		@for $i from 1 through 12 {
			$widthPercentarge: (100 * ($i/12)) * 1%;
			&.col--#{$size}--#{$i} {
				width: 100%;
				@include breakpoint($size) {
					flex: 0 0 $widthPercentarge;
					width: $widthPercentarge;
				}
			}
		}
	}
}
