.container {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;

	/*
		? Add align Wide breakpoints here
	*/
	@include breakpoint(xs) {
		max-width: 540px;
	}
	@include breakpoint(sm) {
		max-width: 720px;
	}
	@include breakpoint(md) {
		max-width: 960px;
	}
	@include breakpoint(lg) {
		max-width: 1140px;
	}
}
.container--content {
	box-sizing: border-box;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
	@include breakpoint(sm) { 
		max-width: 700px;
		//padding: 1.25rem;
	}
	@include breakpoint(md) {
		max-width: 80ch;
		//padding: 1.5rem;
	}
	@include breakpoint(lg) {
		max-width: 90ch;
		//padding: 2rem;
	}
	&--break {
		margin-left: 0;
		@include breakpoint(sm) { 
			margin-left: calc((((100vw - 700px) / 2) * -1) - 1rem);
			width: 100vw;
		}
		@include breakpoint(md) {
			margin-left: calc((((100vw - 80ch) / 2) * -1) - 1rem);
		}
		@include breakpoint(lg) {
			margin-left: calc((((100vw - 90ch) / 2) * -1) - 1rem);
		}
	}
}
.container--fluid, .container--full {
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
}

