.grid--container {
	width: 100%;
	box-sizing: border-box;
}
.grid {
	margin-top: 4rem;
	width: 100%;
	display: block;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	&--item {
		width: 100%;
		margin-left: .5rem;
		margin-right: .5rem;
		margin-bottom: 6rem;
		@include breakpoint(sm) {
			width: calc((100% - 2rem) / 2);
		}
		@include breakpoint(md) {
			width: calc((100% - 3rem) / 3);
		}
	}
	.card {
		width: 100%;
		margin-left: .5rem;
		margin-right: .5rem;
		margin-bottom: 1rem;
		@include breakpoint(sm) {
			width: calc((100% - 2rem) / 2);
		}
		@include breakpoint(md) {
			width: calc((100% - 3rem) / 3);
		}
	}
}
