// margin classes, for quick limited use while spot styling
// mb---1 = .5rem, mb--2 = 1rem, etc. up to mb--12 = 6rem, don't need anything larger
@for $i from 1 through 12 {	
	.mb--#{$i} {
		margin-bottom: ($i / 2) + rem;
	}
}
@for $i from 1 through 12 {	
	.mt--#{$i} {
		margin-top: ($i / 2) + rem;
	}
}
@for $i from 1 through 12 {	
	.ml--#{$i} {
		margin-left: ($i / 2) + rem;
	}
}
@for $i from 1 through 12 {	
	.mr--#{$i} {
		margin-right: ($i / 2) + rem;
	}
}

