.masonry--grid {
	margin-left: -.5rem;
	margin-right: -.5rem;
	.card {
		//width: 100%;
		margin-bottom: 1rem;
		@include breakpoint(sm) {
			width: calc((100% - 2rem) / 2);
		}
		@include breakpoint(md) {
			width: calc((100% - 3rem) / 3);
		}
	}
}
