// ! REMOVE
// padding classes, for quick limited use while spot styling
// pb---1 = .5rem, pb--2 = 1rem, etc. up to pb--12 = 6rem, don't need anything larger
@for $i from 1 through 12 {	
	.pb--#{$i} {
		padding-bottom: ($i / 2) + rem;
	}
}
@for $i from 1 through 12 {	
	.pt--#{$i} {
		padding-top: ($i / 2) + rem;
	}
}
@for $i from 1 through 12 {	
	.pl--#{$i} {
		padding-left: ($i / 2) + rem;
	}
}
@for $i from 1 through 12 {	
	.pr--#{$i} {
		padding-right: ($i / 2) + rem;
	}
}
