.row {
	display: flex;
	flex-direction: column;
	margin-right: -1rem;
    margin-left: -1rem;
	@include breakpoint(sm) {
		flex-direction: row;
	}
	&.justify-content-between {
		justify-content: space-between;
	}
	&.align-items-center {
		align-items: center;
	}
}
