// -----------------------------------------------------------------------------
// This file contains base heading typographic settings
// -----------------------------------------------------------------------------

/* Headings */
// Baseline headings settings
h1,h2,h3,h4,h5,h6{
	// Unit-less line height makes line height refer to elements font-size.
	line-height:1.25; 
	font-family: $font__headings-primary;
	font-weight: bold;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.2;
	
	@include breakpoint(sm) {
		font-size: 2.6rem;
		span {
			font-size: 1rem;
		}
	}
	@include breakpoint(md) {
		font-size: 3.25rem;
		span {
			font-size: 1.25rem;
		}
	}
	
}

h2 {
	font-size: 1.3rem;
	@include breakpoint(sm) {
		font-size: 1.7rem;
	}
	@include breakpoint(md) {
		font-size: 2rem;
	}
}

h3,
.visually-h3 {
	font-size: 1.1rem;
	@include breakpoint(sm) {
		font-size: 1.2rem;
	}
	@include breakpoint(md) {
		font-size: 1.3rem;
	}
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.85rem;
}

h6 {
	font-size: 0.6rem;
}
p{
	font-family: $font__main;
	font-size: 1rem;
	@include breakpoint(sm) {
		font-size: 1.1rem;
	}
	@include breakpoint(md) {
		font-size: 1.2rem;
	}
	@include breakpoint(lg) {
		font-size: 1.3rem;
	}
	&.footnote {
		font-size: .8rem;
	}
}
